html,body{height: 100%}
html {font-family: '微软雅黑', Helvetica, STHeiTi, Arial, sans-serif; -webkit-text-size-adjust: 100%;font-size: 75px;}
*{-webkit-box-sizing: border-box;box-sizing: border-box;margin: 0;padding: 0;}
body{-webkit-overflow-scrolling: touch;font-size: 0.38rem;}
em{font-style: normal}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {display: block}
audio, canvas, progress, video { display: inline-block; vertical-align: baseline}
audio:not([controls]) { display: none; height: 0}
svg:not(:root) {overflow: hidden}
a{background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent;color: #333333}
a:active{background: transparent}
img{border: 0; vertical-align: middle}
body,button, input,select, textarea,h1, h2, h3, h4, h5, p, form, blockquote,ul, ol, li, dl, dd {margin: 0}
button {overflow: visible}
button, select {text-transform: none}
input[type="search"] {-webkit-appearance: textfield;-webkit-box-sizing: border-box; box-sizing: border-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration,input[type=text] {-webkit-appearance: none}
textarea {overflow: auto; resize: vertical}
table {border-collapse: collapse; border-spacing: 0}
ul, ol, li, dl, dd,td, th{padding: 0}
ul, ol {list-style: none}
h1, h2, h3{font-weight: normal}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #ccc;font-family: '微软雅黑'}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none;border-radius:0;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

.index{
    width: 100%;
    min-height: 100% ;
    background: url("../images/index-bg.jpg") no-repeat ;
    background-size: 100% 100%;
    position: relative;
}
.index .start{
    width: 2.8rem;
    height: 4rem;
    display: inline-block;
    left:3.49rem;
    bottom:2.2rem;
    position: absolute;
}
.game{
    width: 2250px;
    height: 3873px;
    background: url("http://i4.bvimg.com/630263/4f48f4e40b77e976.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
}
.game .g-item{
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 157px;
    background: url("../images/dl-2.png") no-repeat;
    background-size: 100% 100%;
}
.game .g-item.g-item-act{
    background: url("../images/dl-1.png") no-repeat;
    background-size: 100% 100%;
}
.game .lantern_1{
    left: 197px;
    top: 1037px;
}
.game .lantern_2{
    left: 630px;
    top: 1038px;
}
.game .lantern_3{
    left: 501px;
    top: 104px;
}
.game .lantern_4{
    left: 1274px;
    top: 682px;
}
.game .lantern_5{
    left: 1150px;
    top: 1100px;
}
.game .lantern_6{
    left: 1600px;
    top:1150px;
}
.game .lantern_7{
    left: 1500px;
    top: 1000px;
}
.game .lantern_8{
    left: 330px;
    top: 1400px;
}
.game .lantern_9{
    left: 450px;
    top: 1600px;
}
.game .lantern_10{
    left: 700px;
    top: 1350px;
}
.game .lantern_11{
    left: 800px;
    top: 1600px;
}
.game .lantern_12{
    left: 1150px;
    top: 1350px;
}
.game .lantern_13{
    left: 1200px;
    top: 1550px;
}
.game .lantern_14{
    left: 1600px; 
    top: 1385px;
}
.game .lantern_15{
    left: 371px; 
    top: 1982px;
}
.game .lantern_16{
    left: 324px; 
    top: 2239px;
}
.game .lantern_17{
    left: 495px; 
    top: 2239px;
}
.game .lantern_18{
    left: 340px; 
    top: 2490px;
}
.game .lantern_19{
    left: 423px;
    top: 2750px;
}
.game .lantern_20{
    left: 805px;
    top: 1950px;
}
.game .lantern_21{
    left: 633px;
    top: 2099px;
}
.game .lantern_22{
    left: 723px;
    top: 2099px;
}
.game .lantern_23{
    left: 264px;
    top: 3124px;
}
.game .lantern_24{
    left: 860px;
    top: 2674px;
}
.game .lantern_25{
    left: 1200px;
    top: 1883px;
}
.game .lantern_26{
    left: 1079px;
    top: 2103px;
}
.game .lantern_27{
    left: 1246px;
    top: 2317px;
}
.game .lantern_28{
    left: 1193px;
    top: 2693px;
}
.game .lantern_29{
    left: 987px;
    top: 2347px;
}
.game .lantern_30{
    left: 1956px;
    top: 690px;
}
.game .lantern_31{
    left: 1490px;
    top: 2513px;
}
.game .lantern_32{
    left: 1450px;
    top: 2738px;
}
.game .lantern_33{
    left: 1774px;
    top: 2773px;
}
.game .lantern_34{
    left: 1942px;
    top: 2605px;
}
.game .lantern_35{
    left: 2003px;
    top: 2038px;
}
.game .lantern_36{
    left: 2038px;
    top: 2348px;
}
.game .lantern_37{
    left: 1410px;
    top: 2045px;
}
.game .lantern_38{
    left: 767px;
    top: 2911px;
}
.game .lantern_39{
    left: 753px;
    top: 3091px;
}
.game .lantern_40{
    left: 1015px;
    top: 2977px;
}
.game .lantern_41{
    left: 1681px;
    top: 2977px;
}
.game .lantern_42{
   left: 1438px;
    top: 3287px;
}
.game .lantern_43{
    left: 1715px;
    top: 3287px;
}
.game .lantern_44{
    left: 2126px;
    top: 3150px;
}
.game .lantern_45{
    left: 1900px;
    top: 1080px;
}
.game .lantern_46{
    left: 1816px;
    top: 1680px;
}
.game .lantern_47{
    left: 687px;
    top: 582px;
}
.game .lantern_48{
    left: 1429px;
    top: 245px;
}
.game .lantern_49{
    left: 262px;
    top: 3468px;
}
.game .lantern_50{
    left: 1006px;
    top: 3452px;
}


#viewport {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}
.hy{
    min-height: 100%;
    background: url(../images/hy-bg.jpg) repeat-y ;
    background-size: contain;
    padding: 0 0.72rem 0.72rem;
    color:#fff;
    font-size: 0.4rem;
}
.hy-tit{
    padding-top: 0.86rem;
}
.hy-tit img{
    width: 8.53rem;
}
.hy-list li{
    width: 1.6rem;
    margin-top: 0.73rem;
    float: left;
    margin-right: 0.72rem;
    text-align: center;
    position: relative;
}
.hy-list li:nth-child(4n){
    margin-right: 0;
}
.hy-list li img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100%;
    border: 0.03rem solid #ffffff;
    background: #fff;
}
.hy-list li p{
    margin-top: 0.1rem;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.hy-list li label{
    color: #cd212f;
    font-size: 0.26rem;
    display: block;
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: #fec969;
    right: -0.3rem;
    top:-0.1rem;
    line-height: 0.8rem;
    text-align: center;
}
.jp-box{
    background: #fec969;
    margin-top: 0.33rem;
    border-radius: 0.05rem;
    padding: 1rem;
    position: relative;
    text-align: center;
}
.jp-box p{
    color: #d13d39;
    font-size: 0.26rem ;
    text-align: center;
    margin: 0.6rem auto 0;

}
.jp-box i{
    width: 0.88rem;
    height: 0.88rem;
    background: url(../images/bg-icon.png);
    background-size: 100% 100%;
    display: inline-block;
    position: absolute;
}
.jp-box .i1{
    top: 0.1rem;
    left: 0.1rem;
}
.jp-box .i2{
    top: 0.1rem;
    right: 0.1rem;
    transform: rotate(90deg);
}
.jp-box .i3{
    bottom: 0.1rem;
    left: 0.1rem;
    transform: rotate(270deg);
}
.jp-box .i4{
    bottom: 0.1rem;
    right: 0.1rem;
    transform: rotate(180deg);
}
.hb-bg{
    background: url(../images/hb-bg.png) no-repeat;
    background-size: 100% 100%;
    width: 2.19rem;
    height: 2.04rem;
    margin: 0 auto;
    color: #d13d39;
    font-weight: bold;
    font-size: 0.26rem;
    padding-top: 0.26rem;
}
.hb-bg em{
    font-size: 0.66rem;
    font-family: Arial;
}
















